@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
:root {
  --primary-color: #007AF3;
}

@font-face {
  font-family: "lovelo";
  src: url("../Fonts/Lovelo Black.otf");
}

@font-face {
  font-family: 'now';
  src: url("../Fonts/Now-Regular.woff");
}



h1, h2, h4, h5, h6 {
  margin: 0px;
  padding: 0%;
  color: white;
}

h3 {
  margin: 0px;
  padding: 0%;
  text-shadow: 2px 2px 20px black;
}


body {
  background-color: black;
}
.navbar {
  background-color: white;
  padding: 1.5em;
  margin-bottom: 3em;
}

p{
  color: white;
  margin-top: 15px;
  font-family: 'Poppins';
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


h2 {
  font-size: 2em;
  font-weight: 600;
}

h4 {
  font-size: 1.3em;
  font-weight: 500;
}

label {
  display: inline-block;
  font-size: 1.2em;
  margin-bottom: .5em;
}

input, textarea {
  width: 30%;
  padding: .8em;
  margin-bottom: 1em;
  margin-left: 1em;
  display: inline-block;
  border-radius: .3em;
  border: 1px solid gray;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type="submit"] {
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  border: none;
  border-radius: 1em;
  display: inline-block;
  padding: .5em 1.5em;
  width: unset;
  cursor: pointer;
}
h1{
  color: white;
}

.mobile-menu-exit {
  float: right;
  margin-bottom: 5em;
  padding-bottom: 10em;
  cursor: pointer;
}


@media only screen and (min-width: 768px) {
  .mobile-menu, .mobile-menu-exit {
    display: none;
  }
}



