<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heart Health Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <section class="hero">
        <div class="text">
            <h1>Heart Stroke Manager</h1>
        </div>

        <div class="blob one"></div>
        <div class="blob two"></div>
        <div class="blob three"></div>
        <div class="blob four"></div>
        <div class="blob five"></div>

    </section>

    <div class="signups">
        <a class="login" href="login"><button>Login</button></a>
        <a class="signup" href="sign_up"><button>Sign Up</button></a>
    </div>
    
</body>
</html>