<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heart Strokes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

</head>
<body>

    <section class="navbar">

        <img src="{{ url_for('static', filename='/images/heart stroke.jpg') }}" alt="">

        <h1>Heart Strokes</h1>

        <div class="nav-links">
            <li><a class="navlink" href="">Heart Stroke Information</a></li>
            <li><a class="navlink" id="pat-info"  href="patient">Patient Information</a></li>
            <li><a class="navlink" id="logs"  href="logs">Daily Logs & Progress</a></li>
            <li><a class="navlink"  href="statistics">Statistics</a></li>
            <li><a class="navlink"  href="resources">Resources</a></li>
        </div>
        
    </section>

    <section class="patient">
        
       <div class="patient-container">
            <h1>Patient Information</h1>
            
            <div class="form-container">
                <form class = "form" action="patient" method="POST">

                    <div class="left side">
        
                        <li>
                            <label for="name">Sex (Male/Female):</label>
                            <input type="text" id="sex" name="sex">
                        </li>
                        
                        <li>
                            <label for="name">Age:</label>
                            <input type="text" id="age" name="age">
                        </li>

                        <li>
                            <label for="name">Work Type:</label>
                            <input type="text" id="work" name="work">
                        </li>
                        
                        <li>
                            <label for="name">Married (Yes or No):</label>
                            <input type="text" id="married" name="married">
                        </li>
        
                        <li>
                            <label for="name">Urban or Rural:</label>
                            <input type="text" id="urban" name="urban">
                        </li>
                    </div>

                    <div class="right side">
                        <li>
                            <label for="name">BMI (Body Mass Index):</label>
                            <input type="text" id="bmi" name="bmi">
                        </li>
        
                        <li>
                            <label for="name">Hypertension (Yes or No):</label>
                            <input type="text" id="hyper" name="hyper">
                        </li>
        
                        <li>
                            <label for="name">Glucose Level (Average):</label>
                            <input type="text" id="glucose" name="glucose">
                        </li>
        
                        <li>
                            <label for="name">Smoking (Yes or No)</label>
                            <input type="text" id="smoke" name="smoke">
                        </li>
        
                        <li>
                            <label for="name">Heart Disease (Yes or No)</label>
                            <input type="text" id="disease" name="disease">
                        </li>
                    </div>
                    <button>Submit</button>
                </form>

                <br>    
                <h2>  Prediction:  </h2>
                {%if data == 0%}
                No Stroke  
                {%elif data == 1%}
                Stroke
                {%endif%}
                {%if data == 0 or data == 1%}
                <br><h2>Confidence: {{ confidence }}%</h2>
                {%endif%}    
                

            </div>
       </div>

    </section>


</body>
</html>