<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heart Strokes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

</head>
<body>

    <h1 class ="greeting"> Hello {{ firstName }}</h1>


    <section class="navbar">

        <img src="{{ url_for('static', filename='images/heart stroke.jpg') }}" alt="">


        <h1>Heart Strokes</h1>

        <div class="nav-links">
            
            <li><a class="navlink" href="stroke">Heart Stroke Information</a></li>
            <li><a class="navlink" id="pat-info"  href="patient">Patient Information</a></li>
            <li><a class="navlink" id="logs"  href="logs">Daily Logs & Progress</a></li>
            <li><a class="navlink"  href="statistics">Statistics</a></li>

        </div>
        
    </section>

    <section class="stats">

        <h1>Statistics</h1>

        

    </section>


</body>
</html>