<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heart Strokes</title>
    <link rel="stylesheet" href="css/main.css">

</head>
<body>

    <section class="navbar">

        <img src="images/heart stroke.jpg" alt="">

        <h1>Heart Strokes</h1>

        <div class="nav-links">
            <li><a class="navlink" href="">Heart Stroke Information</a></li>
            <li><a class="navlink" id="pat-info"  href="patient.html">Patient Information</a></li>
            <li><a class="navlink" id="logs"  href="logs.html">Daily Logs & Progress</a></li>
            <li><a class="navlink"  href="statistics.html">Statistics</a></li>
            <li><a class="navlink"  href="">Resources</a></li>
        </div>
        
    </section>


</body>
</html>